.contenedor-producto{
    border: solid var(--color2);
    font-family: var(--titulos);
    padding: 5%;
}

.producto-imagen{
    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen{
    height: 200px;
    width: 100%;
}

.producto-nombre{
    /* border: solid; */
    margin-top: 20px;
    padding: 1px;
    background-color: var(--color4);
    border-radius: 0 10px;
}

.nombre{
    /* border: solid; */
    margin-left: 20px;
    color: var(--color6);
}

.producto-precio{
    /* border: solid; */
    margin-top: 20px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.boton-agregar{
    padding: 3%;
    border-radius: 10px 0px;
    border-width: 1px;
    font-family: var(--titulos);
    font-weight: bold;
}

.boton-agregar:hover{
    background-color: var(--color3);
    color: var(--color6);
} 
