.contenedor-all{
    /* border: solid red; */
    width: 100%;
    min-height: 100vh;
    background-color: var(--color6);
}
.contenedor-header{
    /* border:solid purple; */
    width: 90%;
    padding: 0 5%;
    background-color: var(--color1);
}

.contenedor-cuerpo{
    /* border: solid blue; */
    width: 100%;
}

.cuerpo-productos{
    display: grid;
    padding: 5% 10%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    row-gap: 5px;
    padding-bottom: 60px;
    /* flex-direction: row; */
}

.contenedor-footer{
    /* border: solid; */
    height: 100%;
    padding: 1%;
    background-color: var(--color1);
    color: var(--color6);
    text-align: center;

}

@media (max-width:400px) {
    .cuerpo-productos{
        display: grid;
        padding: 5% 10%;
        grid-template-columns: 80%;
        gap: 2%;
        row-gap: 5px;
        padding-bottom: 60px;
        /* flex-direction: row; */
    }
}